@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Nerko+One&family=Noto+Sans:wght@700&family=Open+Sans:wght@500&family=Tilt+Prism&family=Ubuntu:wght@700&display=swap');

*
{
    font-family: 'ADLaM Display', cursive;
    font-family: 'Nerko One', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tilt Prism', cursive;
    font-family: 'Ubuntu', sans-serif;
}